<mat-card>
  <div style='text-align: center;'>
    <span>
      <a href="https://www.linkedin.com/in/sunilsigar/" target="_blank"><span>LinkedIn</span></a>
      <span> / </span>
      <a href="https://github.com/SunilSigar" target="_blank">GitHub</a>
    </span>
  </div>
</mat-card>
<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <span>
          <a href="https://www.linkedin.com/in/sunilsigar/" target="_blank"><span>LinkedIn</span></a>
          <span> / </span>
          <a href="https://github.com/SunilSigar" target="_blank">GitHub</a>
        </span>
    </mat-toolbar-row>
  </mat-toolbar> -->